// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="spcai"] {
  --engrid__page_background-color: #ffffff;
  --error__color: #f24235;

  @media screen and (max-width: 1022px) {
    --engrid__body-main_padding: 0 1em;
    --engrid__body-top_padding: 0 1em;
    --engrid__body-title_padding: 0 1em;
    --engrid__content-footer_padding: 0 1em !important;
  }

  .hidden {
    display: none;
  }

  // TYPOGRAPHY DEFAULT
  --default_font-family: "Open Sans",
  "Arial",
  "sans-serif";
  // --default_color: initial;
  // --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  // --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: "Oswald",
  "Arial Black",
  "sans-serif";
  --h1_color: #163F58;
  // --h1_color: initial;
  --h1_font-size: calc(var(--root_font-size) * var(--scale-up_160pct));
  // --h1_font-weight: initial;
  // --h1_line-height: initial;

  // TYPOGRAPHY H2
  --h2_font-family: "Oswald",
  "Arial Black",
  "sans-serif";
  //--h2_color: #0057b8;
  --h2_font-size: calc(var(--default_font-size) * var(--scale-down_50pct));
  --h2_font-weight: 700;
  // --h2_line-height: initial;
  // --h2_text-transform: initial;

  // TYPOGRAPHY H3
  // --h3_font-family: "GraphikBlack", "Arial Black", "sans-serif";
  // --h3_color: #0057b8;
  //--h3_font-size: calc(var(--default_font-size) * var(--scale-down_20pct));
  --h3_font-weight: 700;
  // --h3_line-height: initial;
  // --h3_text-transform: initial;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --p_color: initial;
  // --p_font-size: 18px;
  // --p_font-weight: initial;
  // --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  --engrid__content_padding: 0px var(--spacing_lg);

  // TYPOGRAPHY INPUT
  --input_font-family: "Open Sans",
  "Arial Black",
  "sans-serif";
  --input_color: #000;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  --input_background-color: transparent;
  --input_border-width: 1px;
   --input_border-color: #163F58;
  --input_border-radius: 3px;
  --input_placeholder-color: #757575;
  --input_placeholder-font-weight: 500;
  --input_box-shadow: inset none;
  --input__background-color: #ffffff;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  --button_font-family: "Oswald",
  "Arial Black",
  "sans-serif";
  --button_color: #163F58;
  // --button_font-size: var(--root_font-size);
  --button_font-weight: 600;
  // --button_line-height: initial;
  --button_background-color: #ffffff;
  --button_border-width: 1px;
  --button_border-color: #163F58; 
  // --button_border-radius: 6px;

  --donation-amount__button_font-size: 18px;

  // TYPOGRAPHY BUTTON:HOVER
  --button_color_hover: #ffffff;
  --button_background-color_hover: #ffeffe;
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  --button_color_checked: #163F58;
  --button_background-color_checked: #163F58;
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  --recurring-frequency__button_count: 4;
  --donation-amount__button_count: 3;
  --give-by-select__button_count: 1;

  --donation-amount__button_background-color_checked: #163F58;
  --donation-amount__button_border-color_hover: #163F58;
  --donation-amount__button_border-color_checked: #163F58;

  --radio_font-family: "Open Sans",
  "Arial",
  "sans-serif";

  --recurring-frequency__button_background-color_hover: #163F58;
  --recurring-frequency__button_background-color_checked: #163F58;

  --label_color: #163F58;
  --label_font-weight: 700;
  --input_border-width: 2px;

  --submit__button_background-color: #ee3524;
  --submit__button_background-color_hover: #163F58;
  --submit__button_border-color: #163F58;
  --submit__button_border-color_hover: #163F58;
  --submit__button_font-size: 21px;
  --submit__button_color: #ffffff;
  --submit__button_color_hover: #ffffff;

  --checkbox_font-size: 14px;
  // this is defined & used only within this stylesheet
  --strong_font-family: "Oswald",
  "Arial Black",
  "sans-serif";

  --give-by-select__button_border-color_checked: #163F58;
  --give-by-select__button_border-color_hover: #163F58;
  --give-by-select__button_background-color_checked: #163F58;

  --engrid__body-headerOutside_background-color: #ffffff;

  --engrid__body_box-shadow: none;

  --fields_spacing-block: 6px;

  --checkbox_border-width: 2px;
  --checkbox_border-color: #163F58;
  --checkbox_border-color_hover: #878787;
  --checkbox_border-color_checked: #163F58;
  --checkbox_background-color_checked: #163F58;
  --checkbox_color_checked: #ffffff;

  --engrid__content-footer_background-color: #163F58;
  --engrid__content-footer_padding: calc(var(--spacing_lg) * 0.5) var(--spacing_lg);
}

h2 {
  margin-top: calc(2rem * var(--scale-down_80pct));
}

h3 {
  border-left: none !important;
  padding-left: none !important;

  &.section-header {
    color: #000;
  }
}

[data-engrid-theme="spcai"] {

  /* Hide NPCA unused sections */
  &#en__pagebuilder .page-alert,
  &#en__pagebuilder .content-header,
  &#en__pagebuilder .body-header,
  &#en__pagebuilder .body-bannerOverlay,
  &#en__pagebuilder .body-bottom,
  &#en__pagebuilder .body-footer,
  &#en__pagebuilder .body-footerOutside,
  &#en__pagebuilder .content-footerSpacer,
  &#en__pagebuilder .content-preFooter,
  &#en__pagebuilder .page-backgroundImageOverlay {
    display: none !important;
  }

  &#en__pagebuilder #engrid {
    width: calc(100% - 51px);
  }

  // Adds styling behind the page during aggressive overscrolling
  &:not([data-engrid-embedded]):not([data-engrid-subtheme="multistep"])[data-engrid-js-loading="finished"]:before {
    z-index: -99;
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg,
        rgb(255, 255, 255) 50%,
        rgb(0, 0, 0) 50%);
  }

  &:not([data-engrid-embedded])[data-engrid-subtheme="multistep"] {
    --pagebuilder__background-color: #ffffff;

    #engrid {
      max-width: 270px;
      margin: 0 auto;
    }

    /* Resize image in pagebuilder */
    .en__captcha__placeholder {
      background-size: 100% !important;
      width: 270px !important;
    }
  }

  [class*="validationFail"] label {
    color: #163F58;
  }

  .en__component .en__field__error {
    margin-bottom: 0.75rem;
  }

  [class*="validationFail"]:not(.en__field--donationAmt) label {
    display: none !important;
  }

  // .en__field__input {
  //   border-bottom: 1px solid #163F58;
  // }

  .body-headerOutside>* {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-title h1 {
    //font-size: 35px;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 0;
    text-transform: uppercase
  }

  .en__field--recurrfreq {
    --recurring-frequency__button_border-width: 0;
    --recurring-frequency__button_border-radius: 0;
    --recurring-frequency__button_text-transform: uppercase;
    --recurring-frequency__button_font-size: 24px;
    --recurring-frequency__button_padding: 1ch 0;

    // Accounts for use of "outline" over the traditional "border"
    padding-left: calc(var(--fields_spacing-inline) + 2px);
    padding-right: calc(var(--fields_spacing-inline) + 2px);

    margin-bottom: 30px;

    .en__field__item {
      --fields_spacing-block: 0;
      --fields_spacing-inline: 0;

      label {
        outline: 2px solid #000;
        outline-offset: -1px;
        min-height: 43px;
      }

      &:first-child {
        padding-left: calc(0.5rem - 1px) !important;

        label {
          --recurring-frequency__button_border-radius: 100px 0px 0px 100px;
        }
      }

      &:last-child {
        padding-right: calc(0.5rem - 1px) !important;

        label {
          --recurring-frequency__button_border-radius: 0px 100px 100px 0px;
        }
      }
    }
  }

  &[data-engrid-visible-frequency="1"] {
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item {
      --recurring-frequency__button_count: 1;
    }
  }

  &[data-engrid-visible-frequency="2"] {
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item {
      --recurring-frequency__button_count: 2;
    }
  }

  &[data-engrid-visible-frequency="3"] {
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item {
      --recurring-frequency__button_count: 3;
    }
  }

  &[data-engrid-visible-frequency="4"] {
    @media screen and (max-width: 425px) {
      .en__field--recurrfreq {
        --recurring-frequency__button_count: 2;

        .en__field__item:nth-child(1) {
          padding-left: calc(0.5rem - 1px);

          label {
            --recurring-frequency__button_border-radius: 25px 0px 0px 0px;
          }
        }

        .en__field__item:nth-child(2) {
          padding-right: calc(0.5rem - 1px);

          label {
            --recurring-frequency__button_border-radius: 0px 25px 0px 0px;
          }
        }

        .en__field__item:nth-child(3) {
          padding-left: calc(0.5rem - 1px);

          label {
            --recurring-frequency__button_border-radius: 0px 0px 0px 25px;
          }
        }

        .en__field__item:nth-child(4n) {
          padding-right: calc(0.5rem - 1px);

          label {
            --recurring-frequency__button_border-radius: 0px 0px 25px 0px;
          }
        }
      }
    }
  }

  .en__field--donationAmt {
    --donation-amount__button_border-radius: 0;

    --donation-amount__button_color: #163F58;
    --give-onetime-donation-amount-appended-label: "";
    --give-monthly-donation-amount-appended-label: "/mo";
    --give-quarterly-donation-amount-appended-label: "/qtr";
    --give-annual-donation-amount-appended-label: "/yr";
    --donation-amount__button_padding: 12px 0;

    .en__field__item {
      --fields_spacing-block: 0;
      --fields_spacing-inline: 0;

      // Accounts for use of "outline" over the traditional "border"
      // padding-left: calc(var(--fields_spacing-inline) + 2px);
      // padding-right: calc(var(--fields_spacing-inline) + 2px);

      &:first-child {
        padding-left: calc(0.5rem + 1px) !important;
      }

      &:nth-child(3n) {
        padding-right: calc(0.5rem + 1px) !important;
      }

      &:nth-child(4n) {
        padding-left: calc(0.5rem + 1px) !important;
      }

      &:last-child {
        padding-right: calc(0.5rem + 1px) !important;
      }

      label {
        --donation-amount__button_border-width: 0;
        outline: 2px solid #000;
        outline-offset: -1px;
        white-space: nowrap;

        &:after {
          font-size: 14px !important;
          margin-left: 2px;
        }
      }

      input {
        --donation-amount__button_border-width: 0;
        // padding-top: 1.05ch;
        // padding-bottom: 1.05ch;
      }

      &.en__field__item--other {
        --donation-amount__flex-grow: 1;
        --input_padding: var(--donation-amount__button_padding);
        position: relative;

        &:has(input:not(:placeholder-shown)):before,
        &:has(input:focus):before {
          content: attr(data-currency-symbol);
          left: calc(-43.5px + 50%); //calc(-10px + 50% - 26px);
          position: absolute;
          top: 10px;
          font-family: var(--donation-amount__button_font-family);
          font-size: var(--donation-amount__button_font-size);
          font-weight: var(--donation-amount__button_font-weight);
        }

        input {
          line-height: normal;
          outline: 2px solid #163F58;
          outline-offset: -1px;
          text-align: center;
          font-family: var(--donation-amount__button_font-family);
          font-size: var(--donation-amount__button_font-size);
        }
      }
    }
  }

  &[data-engrid-visible-gift-amount="4"] .radio-to-buttons_donationAmt .en__field__item--other {
    padding-left: calc(0.5rem + 1px) !important;
  }

  &[data-engrid-transaction-recurring-frequency] .radio-to-buttons_donationAmt .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item:after {
    opacity: 1;
  }

  .give-by-select .en__field__element--radio {
    --give-by-select__button_border-width: 0;
    --give-by-select__button_border-radius: 0;
    --give-by-select__button_text-transform: uppercase;
    --give-by-select__button_font-size: 14px;
    --give-by-select__button_padding: 12px 0;
    --give-by-select__button_line-height: 20px;

    .en__field__item {
      --fields_spacing-block: 0;
      --fields_spacing-inline: 0;
      padding-left: calc(0.5rem - 1px) !important;
      padding-right: calc(0.5rem - 1px) !important;
      min-height: 40.73px;

      img {
        height: 19px !important;
        width: auto !important;
        margin: 0;

        &.google-pay-logo {
          position: relative;
          top: -3px;
        }

        &.google-pay-type {
          margin-left: 6px;
          margin-right: 20px;
        }

        &.paypal-venmo {
          margin: 0 5px;
        }
      }

      label {
        outline: 2px solid #000;
        outline-offset: -1px;
      }
    }
  }

  .en__submit button {
    border-radius: 100px;
    border-width: 2px !important;
    margin-bottom: 3rem;
  }

  ::-webkit-input-placeholder,
  ::placeholder,
  :-ms-input-placeholder,
  ::-ms-input-placeholder {
    text-transform: uppercase;
  }

  h3 {
    padding-left: 8px;
    border-left: 4px solid #0057b8;
  }

  b,
  strong {
    font-family: var(--strong_font-family);
  }

  .live-variable-frequency {
    text-transform: capitalize;
  }

  .content-footer {
    grid-column: bc;
    z-index: 3 !important;
    color: #ffffff;
    line-height: 1rem;
  }

  &[data-engrid-embedded] .email-tooltip {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 10;
    font-size: 13px;
  }

  &[data-engrid-embedded] .email-tooltip+[data-tippy-root] {
    font-size: 13px;
  }

  /* Hides the Custom Supporter field that is added to the bottom of the page to track referrals */
  &:not([data-engrid-debug]) #en__field_supporter_NOT_TAGGED_3 {
    display: none;
  }

  /* Styles the Custom Supporter field that is added to the bottom of the page to track referrals */
  &[data-engrid-debug] #en__field_supporter_NOT_TAGGED_3 {
    border-width: var(--fields_spacing-inline) !important;
    border-color: rgba(255, 0, 0, 0.102) !important;
    border-radius: 0px !important;
  }

  @media screen and (min-width: 620px) and (max-width: 1022px) {
    &[data-engrid-js-loading="finished"]:before {
      background: #ee3524 !important;
    }

    .body-headerOutside {
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 10px solid #163F58;
    }

    #engrid {
      max-width: 550px;
      margin: 0 auto;
    }

    .content-footer {
      margin-bottom: 3rem;
    }
  }

  @media screen and (min-width: 1023px) {
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] .page-backgroundImage {
      grid-column: rpc/pc;
    }

    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] .page-backgroundImage figure.media-with-attribution,
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] .page-backgroundImage:before {
      background-position: 50% !important;
      left: 550px;
      right: 0;
      width: calc(100% - 550px);
    }

    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] .page-backgroundImage {
      grid-column: pc/lpc;
    }

    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] .page-backgroundImage figure.media-with-attribution,
    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] .page-backgroundImage:before {
      background-position: 50% !important;
      left: 0;
      right: 550px;
      width: calc(100% - 550px);
    }
  }

  .gift-summary {
    border-width: 1px 0;
    border-style: dashed;
    border-color: #ee3524;
    margin: 30px auto;
    padding: 20px !important;

    >img {
      width: 64px;
      height: 66px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin: 0;
      text-align: center;
    }

    .live-giving-amount {
      font-weight: 600;
    }
  }

  &[data-engrid-subtheme="multistep"] {
    @import "./multistep";
  }

  &[data-engrid-subtheme="multistep"]:not([data-engrid-embedded]) {
    #engrid {
      max-width: 270px;
      margin: 0 auto;
    }
  }
}
